<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BRS Hackathon</title>

    <link rel="stylesheet" href="/static/main/styles.css" />
    <script
      src="https://kit.fontawesome.com/fca5520d90.js"
      crossorigin="anonymous"
    ></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Giga:wght@900&family=Lexend:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="whole">
      <!-- <section id="hero">
        <div class="hero-box">
          <h1>GET THINGS DONE. FAST. NO WORRIES.</h1>
          <p>
            Lorem ipsum dolor set amit and something ssol eter few wed and that
            this is cool as well and we love it.
          </p>
          <a href="#">Explore!</a>
        </div>
        <img src="/static/main/img/hero_img.png" class="hero-img" />
      </section> -->

      <!-- <div class="ben-1 b3">
            <div class="ben-head">    
                <h1>INTEGRATE TECHNOLOGY.</h1>
                <i class="fa-solid fa-globe"></i>
            </div>
            <p>Lorem ipsum dolor set amit and something ssol eter few wed and that this is cool as well and we love it.</p>
        </div> -->

        <h1 style="margin-top:20px;">Hi, {{ user }}</h1>

      <section id="buttons">
        <div class="marquee">
          <div class="button-wrapper">
            <div class="button button-1" id="button-1">
              <h1>1</h1>
              <h2>
                YOUR <br />
                TEXTBOOKS
              </h2>
            </div>
            <div class="button button-1" id="button-2">
              <h1>2</h1>
              <h2>
                ETH DIGITAL <br />
                CAMPUS
              </h2>
            </div>
            <div class="button button-1" id="button-3">
              <h1>3</h1>
              <h2>
                CBSE WEBSITE <br />
                LINK
              </h2>
            </div>
          </div>
          <div class="button-wrapper">
            <div class="button button-1" id="button-4">
              <h1>4</h1>
              <h2>
                YOUR <br />
                TIMETABLE
              </h2>
            </div>
            <div class="button button-1" id="button-5">
              <h1>5</h1>
              <h2>
                STUDENT <br />
                TEACHER <br />
                FEEDBACK
              </h2>
            </div>
          </div>
        </div>
      </section>
      <footer>
        <p>
            Made by Haazim, Shreelesh, Ameen and Khaleel
        </p>
    </footer>
    </div>

    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    <script src="/static/main/app.js"></script>
  </body>
</html>
